<Files ~ "(\.env|\.htaccess|\.lock|\.sql)$">
Order allow,deny
Deny from all
</Files>
Options -MultiViews
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.html [QSA,L]
Header set Service-Worker-Allowed "/"