<Files ~ "(\.env|\.htaccess|\.lock|\.sql)$">
Order allow,deny
Deny from all
</Files>
Options -MultiViews
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^ index.html [QSA,L]
Header Set Service-Worker-Allowed "/"